.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-header {

  padding-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.Header-message{
    
  padding: 40px;
  max-width: 800px;
  display: inline-flex;
  flex-direction: column;
  
 
}
.App-link {
  color: #61dafb;
}

.Mask-Container{
  display: inline-flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.MaskCard{
  margin: 20px;
  height: fit-content;


}

.Upload-form-container {
  justify-content: center;
  margin-top: 30px
}

.Upload-form-div {
  margin: 20px

}



.Upload-form {
  display: flex;
    flex-direction: column;
    text-align: left;
}


.ui.card {
  background: #fff;
  width: auto;


  position: relative;

  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);}

 
  

  .ui.cards>.card>.content>.description {
    clear: both;
    color: rgba(0,0,0,.68);
    max-width: 300px;
    display: inline-flex;}

    .ui.card>.image, .ui.cards>.card>.image {
      position: relative;
      display: block;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding: 0;
      height: 250px;
      background: rgba(0,0,0,.05);
  }
  
  



 












@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
